<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/proyecto_1/assets/css/estilo.css">
    <link rel="icon" href="/proyecto_1/assets/img/logo-social.png">
    <title>mi primera pagina</title>
    <style>
        p {color: red;}
    </style>
</head>
<body>

    <header>

        <div class="logo">
            <img src="/proyecto_1/assets/img/R.jpg" alt="logo empresa">
            <h2>
                Empresa generica
            </h2>
        </div>

        <div class="menu-content">
            <nav class="menu">
                <ul class="lista">
                <li><a href="https://www.bing.com/search?filters=ufn%3a%22Google%22+sid%3a%22f39b29ec-05ee-d6cb-3070-ddaa0fb00ee0%22&qs=MB&pq=gool&sk=CSYN1&sc=13-4&pglt=299&q=google&cvid=9b2c9b05f8154c4abdfbef60f7359f4d&gs_lcrp=EgRlZGdlKgYIARAuGEAyBggAEEUYOTIGCAEQLhhAMgYIAhAuGEAyBggDEAAYQDIGCAQQABhAMgYIBRAuGEAyBggGEAAYQDIGCAcQABhAMgYICBAuGEDSAQg4Mzg2ajBqMagCCLACAQ&FORM=ANNTA1&PC=ACTS">Inicio</a></li>
                <li><a href="https://www.bing.com/search?q=yahoo&cvid=29fb085999184495bd0be36a5f534545&gs_lcrp=EgRlZGdlKgYIABAjGCcyBggAECMYJzIGCAEQLhhAMgYIAhAjGCcyBggDEAAYQDIGCAQQABhAMgYIBRAuGEAyBggGEAAYQDIGCAcQABhA0gEIMjc2NWowajmoAgCwAgA&FORM=ANAB01&PC=ACTS">Sobre nosotros</a></li>
                <li><a href="https://www.youtube.com/">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
        <h1 class="titulo">Bienvenido</h1>
        <div class="parrafo">
            <p class="mi_parrafo">hoy solo pratico de configuración</p>
            <p>parrafo de prueba</p>
        </div>
    </div>
</body>
<footer>
    <p>pie de pagina</p>
</footer>
</html>