*{
    margin:0; 
    padding:0;
}

body{
    margin:0px;
    padding:0;
    background-color: white;
}

.barra{
    margin:0;
    padding:0;
}

.barra .navbar{
    
    padding:0;
}

.barra .navbar .container-fluid{
    background-color: black;
    margin:0;
    padding:0;
    height:50px;
    border-bottom:5px white solid;
}

.navbar-brand{
    padding-left: 10px;
    color:white;
}

.barra .navbar .container-fluid .collapse .navbar-nav .nav-item a{
    color:white;
}

.barra .navbar .container-fluid .collapse .navbar-nav .nav-item:hover{
    background-color:white;
}

.barra .navbar .container-fluid .collapse .navbar-nav .nav-item a:hover{
    color:black;
}

.titulo{
    background-color:rgb(33, 238, 105);
    text-decoration: underline;
}

.compra-por-marca div .list-group{
    margin:0;
    padding:0;
    background-color:white;
}

.compra-por-marca div .list-group .list-group-item{
    background-color:white;
}

.compra-por-marca div .list-group .list-group-item a{
    margin:50px;
    text-decoration: none;
    color:black;
}

.compra-por-marca div .list-group .list-group-item a:hover{
    text-decoration: underline;
}

footer{
    height:200px;
    background-color:black;
    border-top:5px white solid;
}

.list-group-item{
    background-color:black;
    color:white;
}

.list-group-item img{
    width:25px;
    height:25px;
    
}

.list-group-item a i{
    color:white;
    
}
